/* Variables */
:root {
  --containerW: 1000px;
  --sectionH: 150px;
  --sectionImgW: 696px;
}

/* # RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

/* # UTILS */

.debug * {
  background-color: #ff000033;
  border: 2px dashed red;
  padding: 20px 0;
}

.container {
  max-width: var(--containerW);
  margin: 0 auto;
  /* padding: 0 10px; */
}

/* Header */
header {
  background-color: #add8e7;
}

.nav-bar {
  padding: 10px;
}

.container.nav-bar-content {
  display: flex;
  justify-content: space-between;
  background-color: #daa51e;
}

.nav-bar-content .menu {
  flex-grow: 1;
  text-align: center;
}

.nav-bar-content > * {
  border: 2px dashed black;
  padding: 8px;
}

.header-content {
  background-color: #00018b;
  padding: 20px;
}

.header-content-main.small {
  background-color: pink;
  max-width: calc(var(--containerW) - 150px);
  padding: 100px;
  border: 2px dashed black;
}

header .container .logo,
header .container .login {
  flex-basis: 200px;
}

header .container .login {
  text-align: right;
}

/* MAIN */

.main-content > section:nth-child(even) {
  background-color: lightgray;
}

.main-content > section:nth-child(even) .container {
  flex-direction: row-reverse;
}

section > .container {
  display: flex;
  padding: 20px 0;
  flex-wrap: wrap;
}

.container > .content-img {
  flex-basis: var(--sectionImgW);
  background-color: #1d90ff;
  padding: var(--sectionH);
  border: 2px dashed black;
}
.container > .content-text {
  flex-basis: calc(var(--containerW) - var(--sectionImgW));
  background-color: #ffc1ca;
  padding: var(--sectionH);
  border: 2px dashed black;
}

.container > .content-img.big {
  flex-basis: 100%;
  background-color: #208b21;
  padding: 200px;
  border: 2px dashed black;
}

/* FOOTER */

footer {
  background-color: #23272a;
  padding: 10px;
}

.container.footer-top {
  border-bottom: 2px solid gray;
}

.container > .menu-footer {
  display: flex;
  padding: 20px 0;
}

.menu-footer > .information {
  flex-basis: 25%;
  background-color: #f08180;
  padding: 200px 0;
  border: 2px dashed black;
}

.menu-footer > .link-footer {
  flex-basis: 75%;
  display: flex;
  background-color: #22b3aa;
}

.link-footer > section {
  flex: 1 1 0px;
  border: 2px dashed white;
  /* padding: 200px; */
}

.container.footer-bottom {
  display: flex;
  justify-content: space-between;
  background-color: #7fffd4;
  margin: 20px auto;
  padding: 20px 0;
  border: 2px dashed black;
}
